<a href="https://colab.research.google.com/github/20BCS6894/MainRepo/blob/main/Sumit_20BCS6894_NaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [55]:
diabetes_data = pd.read_csv("diabetes.csv")
diabetes_data.head(7)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1

In [56]:
diabetes_data.shape

(768, 9)

In [57]:
diabetes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [58]:
diabetes_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [59]:
x = diabetes_data.drop(['Outcome'], axis = 1)
y = diabetes_data["Outcome"]

In [60]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [61]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [62]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state =175)

In [63]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

In [64]:
model.fit(X_train, y_train)

GaussianNB()

In [65]:
y_pred = model.predict(X_test)

In [66]:
from sklearn import metrics
print("Naive Bayes models' accuracy(in %) for test data is :", metrics.accuracy_score(y_test, y_pred)*100)

c_misclassified = (y_test != y_pred).sum()
print('Misclassified samples are : {}'.format(c_misclassified))

Naive Bayes models' accuracy(in %) for test data is : 75.59055118110236
Misclassified samples are : 62

In [67]:
y_pred_train = model.predict(X_train)
print("Naive Bayes model accuracy(in %) for train data is :", metrics.accuracy_score(y_train, y_pred_train)*100)

c_misclassified_t = (y_train != y_pred_train).sum()
print('Misclassified samples: {}'.format(c_misclassified_t))

Naive Bayes model accuracy(in %) for train data is : 76.07003891050583
Misclassified samples: 123

In [68]:
#THUS WE CAN SEE OUR MODEL TRAINING ACCURACY is to 76% and TESTING ACCURACY is to 75%

In [69]:
####################################Creating model by adding outliers to the dataset#########################
outlier_diabetes_data = diabetes_data

In [70]:
outlier_diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [71]:
outlier_diabetes_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [72]:
outlier_diabetes_data.tail(15)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
753,0,181,88,44,510,43.3,0.222,26,1
754,8,154,78,32,0,32.4,0.443,45,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [73]:
outlier_rows = [{'Pregnancies' : 30 , 'Glucose': 233, 'BloodPressure' : 137 , 'SkinThickness' : 120 , 'Insulin' : 873, 'BMI': 48, 
             'DiabetesPedigreeFunction': 0.02 , 'Age': 14, 'Outcome' : 0}, 
             {'Pregnancies' : 32, 'Glucose': 240 , 'BloodPressure' :142 , 'SkinThickness' : 131 , 'Insulin' : 541, 'BMI': 69, 
             'DiabetesPedigreeFunction': 0.001 , 'Age': 99,'Outcome' : 0},
             
             {'Pregnancies' : 25, 'Glucose': 241, 'BloodPressure' : 127, 'SkinThickness' : 121 , 'Insulin' : 974, 'BMI': 12, 
             'DiabetesPedigreeFunction': 2.47 , 'Age': 101, 'Outcome' : 1},

             {'Pregnancies' : 20, 'Glucose': 278 , 'BloodPressure' : 148 , 'SkinThickness' : 107, 'Insulin' : 334, 'BMI': 9 , 
             'DiabetesPedigreeFunction': 3.12 , 'Age': 4, 'Outcome': 0},

             {'Pregnancies' : 44, 'Glucose': 200, 'BloodPressure' : 151 , 'SkinThickness' : 100, 'Insulin' : 44, 'BMI': 77 , 
             'DiabetesPedigreeFunction': 4 , 'Age':77 , 'Outcome' : 1 },

             {'Pregnancies' : 37, 'Glucose': 247 , 'BloodPressure' : 169 , 'SkinThickness' : 58, 'Insulin' : 911, 'BMI': 1 , 
             'DiabetesPedigreeFunction': 0.09, 'Age': 92, 'Outcome' : 0},

            {'Pregnancies' : 28, 'Glucose': 214, 'BloodPressure' : 180 , 'SkinThickness' : 111, 'Insulin' : 87, 'BMI': 81, 
             'DiabetesPedigreeFunction': 2.99, 'Age': 86 , 'Outcome': 1}]
for row in outlier_rows: 
  outlier_diabetes_data = outlier_diabetes_data.append(row, ignore_index = True)

In [74]:
outlier_diabetes_data.tail(15)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
760,2.0,88.0,58.0,26.0,16.0,28.4,0.766,22.0,0.0
761,9.0,170.0,74.0,31.0,0.0,44.0,0.403,43.0,1.0
762,9.0,89.0,62.0,0.0,0.0,22.5,0.142,33.0,0.0
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0.0
764,2.0,122.0,70.0,27.0,0.0,36.8,0.340,27.0,0.0
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0.0
766,1.0,126.0,60.0,0.0,0.0,30.1,0.349,47.0,1.0
767,1.0,93.0,70.0,31.0,0.0,30.4,0.315,23.0,0.0
768,30.0,233.0,137.0,120.0,873.0,48.0,0.020,14.0,0.0
769,32.0,240.0,142.0,131.0,541.0,69.0,0.001,99.0,0.0
770,25.0,241.0,127.0,121.0,974.0,12.0,2.470,101.0,1.0
771,20.0,278.0,148.0,107.0,334.0,9.0,3.120,4.0,0.0
772,44.0,200.0,151.0,100.0,44.0,77.0,4.000,77.0,1.0
773,37.0,247.0,169.0,58.0,911.0,1.0,0.090,92.0,0.0
774,28.0,214.0,180.0,111.0,87.0,81.0,2.990,86.0,1.0

In [75]:
x1 = outlier_diabetes_data.drop(['Outcome'], axis = 1)
y1 = outlier_diabetes_data["Outcome"]

In [76]:
X1_train, X1_test, y1_train, y1_test = train_test_split(x1, y1, test_size = 0.33, random_state =175)

In [77]:
model2 = GaussianNB()
model.fit(X1_train, y1_train)

GaussianNB()

In [78]:
y1_pred = model.predict(X1_test)

In [79]:
print("Naive Bayes models' accuracy(in %) for test data is :", metrics.accuracy_score(y1_test, y1_pred)*100)

c_misclassified = (y1_test != y1_pred).sum()
print('Misclassified samples are : {}'.format(c_misclassified))

Naive Bayes models' accuracy(in %) for test data is : 73.046875
Misclassified samples are : 69

In [80]:
y1_pred_train = model.predict(X1_train)
print("Naive Bayes model accuracy(in %) for train data is :", metrics.accuracy_score(y1_train, y1_pred_train)*100)

c_misclassified_t = (y1_train != y1_pred_train).sum()
print('Misclassified samples: {}'.format(c_misclassified_t))

Naive Bayes model accuracy(in %) for train data is : 77.45664739884393
Misclassified samples: 117

In [81]:
#THUS WE CAN SEE BY ADDING OUTLIER ROWS OUR NEW MODEL TRAINING ACCURACY is 77% and TESTING ACCURACY is to 73% respectively

In [82]:
#USING KNN MODEL FOR PREDICTION

In [83]:
from sklearn.neighbors import KNeighborsClassifier  
classifier= KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2 )  
classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [84]:
y2_pred= classifier.predict(X_test)

In [88]:
print("Accuracy for testing : " ,metrics.accuracy_score(y_test,y2_pred))

y2_pred_train = classifier.predict(X_train)  

print("Accuracy for training : " ,metrics.accuracy_score(y_train,y2_pred_train))

Accuracy for testing :  0.7244094488188977
Accuracy for training :  0.8054474708171206

In [85]:
##using outliers we have

In [89]:
classifier= KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2 )  
classifier.fit(X1_train, y1_train)

KNeighborsClassifier()

In [90]:
y21_pred= classifier.predict(X1_test)

In [92]:
print("Accuracy for testing : " ,metrics.accuracy_score(y1_test,y21_pred))

y21_pred_train = classifier.predict(X1_train)  

print("Accuracy for training : " ,metrics.accuracy_score(y1_train,y21_pred_train))

Accuracy for testing :  0.7265625
Accuracy for training :  0.7861271676300579